.clientInputForm {
  height: 300px;
  border: 3px solid rgb(102, 100, 100);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 15px 0px 0px;
  background-color: wheat;
  flex-direction: column;
}

.functional {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.depositSum{
font-size: 40px;
}

.depositValue{
  font-size: 20px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
}

.change{
  font-size: 20px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
}
